
<div class='box_wrap layout_width'>
        <div class='box box1'>
            <div class='title'>영화다시보기사이트</div>
            <div class='site'>
                <div onclick="location.href='https://www.netflix.com/kr/';">Netflix : https://www.netflix.com/kr/</div>
                <div onclick="location.href='https://watcha.com/';">Watcha : www.watcha.com</div>
                <div onclick="location.href='https://movie.naver.com/';">네이버영화 : https://movie.naver.com/</div>
            </div>
        </div>
        <div class='box box2'>
            <div class='title'>만든이 정보</div>
            <div class='e-mail rows'>
                <div>이메일주소 : cksrud1627@naver.com</div>
            </div>
            <div class='phone_number rows'>
               <div>전화번호 : 010-8306-5123</div>
            </div>
            <div class='name rows'>
                <div>이름 : 박찬경</div>
            </div>
        </div>
</div>
